#container
{
	margin-left:10%;
	margin-right:10%;
	background-color: white;
}
body{
	background-color: #046798;
	}
#profile{
	float:left;
	margin-right:40px;
	margin-left: 40px;
}
#info{
	float:left;}
#social{
	float:right;
	margin-right: 0px;
	margin-left:700px;

	}
.perso{
	margin-bottom:0px;
	margin-top:0px;
}
ul{
	margin-bottom:0px;
	margin-top:10px;}
#main{
	float: none;
	margin-top: 100px;
	margin-left: 40px;
}
.decaler{
	float: left;
    	margin-top: 0px;
	margin-bottom: 0px;
}
.clearfix:after{
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#objective h2{
	float:left;
    margin-left:50px;
}
#objective p{
    float:left;
}
